<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배너관리</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }
        .pager {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:fragement="fragment-admin-body-menu">
        <a href="/admin/main.do">관리자 메인</a>|
        <a href="/admin/member/list.do">회원 관리</a>|
        <a href="/admin/category/list.do">카테고리 관리</a>|
        <a href="/admin/course/list.do">강좌 관리</a>|
        <a href="/admin/takecourse/list.do">수강 관리</a>|
        <a href="/admin/banner/list.do">배너 관리</a>|
        <a href="/member/logout">로그아웃</a>
        <br/>
        <hr/>
    </div>

  <h1>배너관리</h1>

  <a href="/banner/add.do">배너 등록</a>
  <a href="/banner/add.do">선택 삭제</a>
  <p class="total-count" align="right">전체 <span th:text="${totalCount}"></span>개</p>

  <div class="list">
      <table>
          <thead>
          <tr>
              <th>No</th>
              <th>배너명</th>
              <th>이미지</th>
              <th>등록일</th>
          </tr>
          </thead>
          <tbody id="dataList">
          <tr th:each="x : ${list}">
              <td>
                  <input type="checkbox" th:value="${x.id}">
              </td>
              <td th:each="${x.bannerName}"></td>
              <td th:each="${x.image}"></td>
              <td th:each="${x.createdAt}"></td>
          </tr>
          <tr th:if="${#lists.size(list) < 1}">
              <td colspan="5">
                  <p class="nothing">내용이 없습니다.</p>
              </td>
          </tr>
          </tbody>
      </table>

      <div class="pager" th:utext="${pagerHtml}"></div>

  </div>

</body>
</html>