<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배너관리</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
            text-align: center;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }
        .pager {
            margin-top: 20px;
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            $('#selectAll').on('click', function() {

                var checked = $(this).is(':checked');


                $('#dataList input[type=checkbox]').each(function(k, v) {
                    $(this).prop('checked', checked);
                });


            });

            $('#deleteButton').on('click', function() {

                var $checked = $('#dataList input[type=checkbox]:checked');
                if ($checked.length < 1) {
                    alert(' 삭제할 데이터를 선택해 주세요. ');
                    return false;
                }

                if (!confirm(' 선택한 데이터를 삭제하시겠습니까? ')) {
                    return false;
                }

                var idList = [];
                $.each($checked, function(k, v) {
                    idList.push($(this).val());
                });

                console.log(idList);
                console.log(idList.join(','));

                var $deleteForm = $('form[name=deleteForm]');
                $deleteForm.find('input[name=idList]').val( idList.join(',') );
                $deleteForm.submit();

            });


        });
    </script>
</head>
<body>
    <div th:fragement="fragment-admin-body-menu">
        <a href="/admin/main.do">관리자 메인</a> |
        <a href="/admin/member/list.do">회원 관리</a> |
        <a href="/admin/category/list.do">카테고리 관리</a> |
        <a href="/admin/course/list.do">강좌 관리</a> |
        <a href="/admin/takecourse/list.do">수강 관리</a> |
        <a href="/admin/banner/list.do">배너 관리</a> |
        <a href="/member/logout">로그아웃</a>
        <br/>
        <hr/>
    </div>

  <h1>배너관리</h1>

  <div class="list">

      <div class="buttons">
          <button type="button" onclick="location.href='/admin/banner/add.do'">배너 등록</button>
          <button id="deleteButton" type="button">선택 삭제</button>
          <p class="total-count" align="right">전체 <span th:text="${totalCount}"></span>개</p>
      </div>

      <table>
          <thead>
          <tr>
              <th><input type="checkbox"></th>
              <th>No</th>
              <th>배너명</th>
              <th>이미지</th>
              <th>등록일</th>
          </tr>
          </thead>
          <tbody id="dataList">
          <tr th:each="x : ${list}">
              <td>
                  <input type="checkbox" th:value="${x.id}">
              </td>
              <td th:text="${x.sequence}"></td>
              <td th:text="${x.bannerName}"></td>
              <td>
                  <img src="${x.urlFilename}" th:if="${x.urlFilename != null}">
              </td>
              <td th:text="${x.createdAt}"></td>
          </tr>
          <tr th:if="${#lists.size(list) < 1}">
              <td colspan="5">
                  <p class="nothing">내용이 없습니다.</p>
              </td>
          </tr>
          </tbody>
      </table>

      <div class="pager" th:utext="${pager}"></div>

  </div>
  <form name="deleteForm" method="post" action="/admin/banner/delete.do">
    <input type="hidden" name="idList"/>
  </form>

</body>
</html>