<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
      .list table {
        width: 100%;
        border-collapse: collapse;
      }
      .list table th, .list table td {
        border:solid 1px #000;
      }
      p.nothing {
        text-align: center;
        padding: 100px;
      }
      .pager {
          margin-top: 20px;
          text-align: center;
      }
      .pager a.on {
          font-weight: bold;
          color: red;
      }
    </style>
  <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
    });
  </script>
</head>
<body>
  <h1>강좌 관리</h1>
  <div>
      <a href="/admin/course/add.do">강좌 등록</a>
  </div>

  <div class="list">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>강좌명</th>
                <th>등록일자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="x : ${list}">
                <td th:each="${x.sequence}">1</td>
                <td>
                    <p th:text="${x.subject}"></p>
                </td>
                <td>
                    <p th:text="${x.createdAt}"></p>
                </td>
            </tr>
        </tbody>
    </table>
      <div class="pager" th:utext="${pager}"></div>
  </div>

</body>
</html>