<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
      .list table {
        width: 100%;
        border-collapse: collapse;
      }
      .list table th, .list table td {
        border:solid 1px #000;
      }
      p.nothing {
        text-align: center;
        padding: 100px;
      }
    </style>
  <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
    });
  </script>
</head>
<body>
  <h1>강좌 관리</h1>
  <div>
      <a href="/admin/course/add.do">강좌 등록</a>
  </div>

  <div class="list">
    <tabl>
      <thead>
      <tr>
        <td></td>
      </tr>
      </thead>
    </tabl>
  </div>

</body>
</html>