spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/testdb1
    driver-class-name: org.mariadb.jdbc.Driver
    username:
    password:


  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true